.CartItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
  margin: 0;
  padding: 0;
}

.CartItem__code {
  padding: 20px 10px 20px 20px;
}

.CartItem__title {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 10px;
}

.CartItem__actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 0;
}
.CartItem__price {
  margin: 0;
  padding: 0;
min-width: 105px;
text-align: end;
}
.CartItem__count{
  margin: 0;
  padding: 0;
  padding-left: 62px;
  min-width: 50px;
  text-align: center;
}
.CartItem__btn{
  float:right;
  margin-left: 20px;
  width: 76px;
  height: 21px;

}